*{
    margin: 0px;
}

.principal{
    background-image: url('img/fondocookings.png');
    background-size: cover;  
    background-repeat:no-repeat;
    font-family:'Dancing Script', cursive;
    text-align: center;
    padding:100px;
    color: dimgray;    
}
.header{
    background-color: ghostwhite;
    color: lightslategray;
    display: flex;
    justify-content: space-between;
    height: 90px;
}
.menu{
    height: inherit;
}
ul{
    display: flex;
    height: inherit;
    margin: 0px;
    padding: 0px;
}
.header li{
    height: inherit;
}
.sushi{
    background-color: darkslategray;
    color: white;
    text-align: center;
}
.curso{
background-color: beige;
color: black;
text-align: center;
}   
.botoncurso{
    width: 200px;
    height: 35px;
    background-color:lightgrey;
    border-radius: 25px;
    border: none;
     font-size: 15px;
    cursor: pointer;
}   
.sushiboton{
   width: 250px; 
   height: 40px;
   background-color: wheat;
   border-radius: 25px;
   border: none;
   font-size: 15px;
   cursor: pointer; 
}
.sopita{
    background-color: grey;
    color: ivory;
    text-align: center;
}   
.botonsopita{
    width: 250px;
    height: 40px;
    background-color: linen;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}   

.boton{
    width: 350px;
    height:75px ;
    background-color: black;
    border-radius: 25px;
    font-size:25px;
    cursor: pointer;
    border: none;
}
.conainer1{
     color: lemonchiffon;
     display: flex;
}
